/* reset */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    ;
}



/* utilities */
.container {
    width: 1140px;
    margin: 0 auto;
}

.flexbox {
    display: flex;
}

/* .debug .border {
    border: 1px white dashed;
} */

.p-15 {
    padding: 15px;
}

.pbtn-30 {
    padding-bottom: 30px;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #F6F6F6;
}


/* .debug h1 {
    min-height: 35px;
    margin: 0 auto;
}

.debug p {
    min-height: 15px;
}

.debug span {
    min-width: 35%;
    min-height: 35px;
    margin-bottom: 50px;
}

.debug 
    border: 1px solid white;
} */
a {
    text-decoration: none;
    color: white;
}

/* header */
header {
    min-height: 450px;
    background-color: #255EE9;
    color: white;
}

.navbar {
    max-width: 1140px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}

.navbar>div {
    flex-basis: 15%;
}

.central-nav {
    flex-grow: 1;
    text-align: center;
}

.right-nav {
    text-align: right;
}

header a {
    text-decoration: none;
    color: white;
}

button>a {
    color: #2A2E31;
}


/* jumbotron */
#jumbotron {
    background-image: url('../images/jumbo.png');
    background-size: cover;
    background-position: center;
}

.text-container {
    flex-direction: column;
    justify-content: center;
    min-height: 470px;
    max-width: 45%;
    margin: 0 auto;
    text-align: center;

}

/* font adjustment */
h1 {
    font-size: 50px;

}

header p {
    font-size: larger;
    line-height: 30px;
}

/* bottoni */
button {
    border-radius: 20px;
    background-color: white;
    border: none;
    padding: 14.5px;
}

#obscure {
    background-color: #23272A;
    color: white;
    margin-left: 20px;
}

/* fine header */

/* main */
.row-container {
    align-items: flex-start;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1140px;
    margin: 0 auto;

}

.half-row-main {
    padding-right: 7%;
}

.half-row-reverse {
    padding-left: 7%;
}

.text-area {
    flex-direction: column;
    justify-content: center;
}

main p {
    font-size: larger;
    line-height: 25px;
}


/* .description-title {
    min-height: 125px;
    min-width: 300px;

} */

.center-text {
    flex-direction: column;
    text-align: center;
    max-width: 1140px;
    margin: 0 auto;
}

/* .special {
    margin-bottom: 0;
} */

/* .big-image {
    min-height: 400px;
    min-width: 100%;
    margin-bottom: 0;
} */

.final-description {
    text-align: center;
}


.text-undertitle {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 300px; */
}

h3 {
    font-size: 25px;
}

.last-call-to-action {
    color: white;
    background-color: #8EA1E1;
}

/* end main */
/* footer section */
footer {
    background-color: #23272A;
    min-width: 100%;
    justify-content: center;
    color: white;
}

.big-column {
    flex-grow: 2;
    line-height: 50px;
}

.small-column {
    min-width: 12.75%;
    min-height: 250px;
}


/* end list */



/* footer */

footer {
    background-color: #23272A;
    color: white;
}

.footer-top {
    padding: 35px;
    border-bottom: 1px solid #6A7FC8;
    height: 550px;
}

.big-size-bottom {
    flex-basis: 32%;
}

.small-size-bottom {
    flex-basis: 68%;
}

.column {
    flex-basis: 25%;
}

footer h3 {
    font-size: 35px;
    color: #7289DA;
}

h5 {
    color: #7289DA;
    margin-top: 40px;
}

.flag {
    vertical-align: middle;
    max-height: 35px;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
    max-height: 25px;
    justify-content: flex-start;
}

select {
    background-color: transparent;
    border: none;
    color: white;
    font-size: x-large;
}

.logos {
    padding: 25px 0;
}

footer a {
    text-decoration: none;
    margin-right: 15px;
    font-size: 40px;

}

p>a {
    text-decoration: none;
    color: white;
    font-size: medium;
}

.footer-bottom {
    justify-content: space-between;
}

.footer-bottom button {
    color: white;
    background-color: #8EA1E1;

}